* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.grid-layout {
  display: grid;
  height: 100vh;
  grid-template-areas: 'cabecera cabecera cabecera'
                       'lateral contenido contenido'
                       'pie pie pie';
  grid-template-rows: 5% auto 5%;
}

@media screen and (max-width: 768px) {
  .grid-layout {
    display: grid;
    height: 100vh;
    grid-template-areas: 'cabecera'
                         'lateral'
                         'contenido'
                         'pie';
    background-color: lightgreen;
    grid-template-rows: 5% auto auto 5%;
  }  
}

.box {
  border: 1px solid black;
  display: flex;
}

.header {
  grid-area: cabecera;
  justify-content: space-between;
}

.sidebar {
  grid-area: lateral;
}

.main {
  grid-area: contenido;
}

#messages {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(233, 233, 233);
  width: 100%;
  height: 100%;
  overflow: auto;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #d2d2d2;
}
#you {
  color: rgb(0, 166, 255);
}
#server {
  color: rgb(14, 171, 111);
}

.footer {
  grid-area: pie;
  justify-content: space-around;
}

.footer input {
  font-size: 20px;
}

.footer button {
  height: 100%;
}