* {
  padding: 0;
  margin: 0;
}

.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: auto;
  z-index: 999999;
}

.header {
  display: block;
  background-color: beige;
}

.video {
  background-color: black;
  flex: 1.7;
}

.chat {
  flex: 1;
}

.form {
  background-color: blueviolet;
  display: flex;
}

.form .input {
  height: 30px;
  flex: 4;
}

.form button {
  height: 33px;
  flex: 1; 
}